@import "_includes/_repl.scss";
@import "_includes/_loading.scss";
@import "_includes/_dialogs.scss";
@import "_includes/_mixins.scss";
@import "_includes/_welcome_signin_popup.scss";
@import "_includes/_logout_countdown_dialog.scss";
@import "_includes/_countdown.scss";
@import "_includes/_controls.scss";
@import "_includes/_library_chrome.scss";
@import "_includes/_archive_sections.scss";
@import "_includes/_banner.scss";
@import "_includes/_tutorial.scss";
@import "_includes/_message_dialog.scss";

@-webkit-keyframes pop {
    0%   { -webkit-transform: scale(0); }
    70%  { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1.0); }
}
  
.pop {
    -webkit-transform: scale(1.0), translate3d(0,0,0);
    -webkit-animation-name: pop;
    -webkit-animation-duration: 300ms;
    -webkit-animation-timing-function: ease-in-out;
}
    
body {
    font-family: Helvetica Neue;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

body, #archive-grid, #sections-grid {
    background-color: #F7F7F7;
}

/* The text link to display more folios in grid view. */
#show-more {
    font-size: 14px;
    margin: 10px;
    text-align: center;
    color: #00A9DF;
    clear: both;
    white-space: none;
    display: none;
}

#drop-down-container {
    float: right;
    margin-left: 15px;
    display: inline;
    position: fixed;
    right: -15px;
    top: 2px;
    width: 110px;
}

/*#header-drop-down, #header-drop-down-filter {
    float: right;
    margin-left: 15px;
    display: inline;
    position: fixed;
    right: -15px;
    top: 2px;
}*/

.button {
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
    -webkit-user-select: none;
    cursor: default;
    height: 15px;
    -webkit-border-radius:3px;
}

.button.disabled {
    opacity: .5;
    color: #aaaaaa;
}

.grey-button {
    width: 90px;
    border:1px solid #555;
    color: #555;
}

.grey-button:active {
    background-color: #555;
    color: #ffffff;
}

.blue-button {
    width: 90px;
    border:1px solid #00A9DF;
    color: #00A9DF;
}

.blue-button:active {
    background-color: #00A9DF;
    color: #ffffff;
}

.red-button {
    width: 90px;
    height: 15px;
    -webkit-box-shadow:inset 1px 1px 0px 0px rgba(255, 255, 255, .2);
    background-color:#B31B18;
    -webkit-border-radius:3px;
    border:1px solid #333333;
    padding:7px 3px;
}

.red-button:active {
    -webkit-box-shadow:inset -1px -1px 0px 0px rgba(255, 255, 255, .2);
}
  
.library-view {
  overflow-x: hidden !important;
}

.magazine-title {
    color: #555555;
    font-size: 15px;
}

.folio-number {
    color: #000000;
    font-size: 14px;
}

/* Item renderer used to display an individual folio in the grid. */
.folio-item-view {
    float: left;
    color: #ffffff;
    position: relative;
    font-size: 14px;
}

.folio-item-view .folio-thumb {
    visibility: hidden;
}

.folio-item-view .folio-number {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 120%;
}

.folio-item-view #buy-button, .folio-item-view #section-download-button {
    position: absolute;
    right: 0px;
    width: 45px;
    height: 15px;
    padding: 5px;
}

.folio-item-view #section-download-button {
    width: 20px;
    height: 13px;
}

.folio-item-view #subscribe-button {
    float: left;
    position: relative;
    left: -97px;
    top: 40px;
}

.folio-item-view .download-status {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.5);
}

.folio-item-view #toggle-download-button {
    width: 21px;
    height: 21px;
    position: absolute;
}

.folio-item-view .cancel-download-button {
    background: url("../images/lib_cancel-normal@2x.png") no-repeat;
    background-size: 21px 21px;
}

.folio-item-view .cancel-download-button:active, .folio-item-view .resume-download-button:active {
    opacity: .5;
}

.folio-item-view .resume-download-button {
    background: url("../images/lib_resume-normal@2x.png") no-repeat;
    background-size: 21px 21px;
}

/* Stretch out the "X" horizontally */
.folio-item-view .cancel-download-button div {
    -webkit-transform: scaleX(1.5);
    padding: 3px 0px 0px 6px;
    font-weight: normal;
}

.folio-item-view .magazine-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 120%;
}

.folio-item-view .state {
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 120%;
    font-style:italic;
    color: #777777;
}

.folio-item-view .cloud-icon {
    background: url("../images/metadata_icon_cloud@2x.png") no-repeat;
    background-size: 35px 23px;
    width: 35px;
    height: 23px; 
    border: none;
    position: absolute;
    background-position: right;
}

.folio-item-view .cloud-icon:active {
    opacity: .5;
}

.folio-item-view .section-cloud-icon {
    left: -10px;
    top: 5px;
    position: relative;
}

.progress-track {
    height: 3px;
    left: 0px;
    position: absolute;
}

.progress-track .progress-bar {
    background-color: #33CCFF;
    height: 3px;
}

/* The grid view of folios. */
#grid {
    margin-top: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

@import "_includes/_media_queries.scss";