
.modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 998;
}

@-webkit-keyframes pop {
    0%   { -webkit-transform: scale(0); }
    70%  { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1.0); }
}
.dialog {
    position: fixed;
    width: 240px;
    margin-left: -120px;
    z-index: 999;
    background: rgba(255, 255, 255, .95);
    color: #000000;
    text-align: center;
    -webkit-border-radius: 8px;
    left: 50%;
    top: 300px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";

    &.pop{
        -webkit-transform: scale(1.0), translate3d(0,0,0);
        -webkit-animation-name: pop;
        -webkit-animation-duration: 300ms;
        -webkit-animation-timing-function: ease-in-out;
    }
    #title {
        margin: 0;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top:10px;
    }
    #description {
        font-size: 16px;
        margin: 0px 0px 20px;
        text-align: left;
        line-height: 120%;
        padding: 8px 20px;
    }
    button {
        width: 100%;
        padding: 6px 25px;
        background: none;
        opacity: 0.85;
        border: none;
        border-top: 1px solid #ccc;

        color: #007aff;
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
        font-family: "Helvetica Neue", "Arial", "sans-serif";
        font-weight: 400;
    }
   
}


