/* The icon to open the drop down. */
.drop-down {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    display: block;
}

.drop-down.settings {
    position: absolute;
    top: 2px;
    right: 5px;
    background: url("../images/gear.png") no-repeat;
    background-size: 30px 30px;
}

.drop-down.filter {
    position: absolute;
    background: url("../images/filter_icon.png") no-repeat;
    background-size: 18px 18px;
    margin-top: 13px;
}

p.viewing {
  clear: right;
  float: left;
  padding-top: 7px;
  margin-right: 5px;
  color: #00A9DF;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
}

div.item.extra-tall {
  height: 40px !important;
}

.drop-down.grade-label {
    display: block;
    float: right;
    width: 150px;
    height: auto;
    border-radius: 3px;
    padding: 7px;
    margin-right: 21px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: 2px solid #00A9DF;
}

.drop-down.grade-label:before {
    color: #00A9DF;
    text-align: left;
    font-size: 100%;
    font-weight: bold;
}

.dropdown-check {
    content: "X";
}

.drop-down div {
    display: none;
}

.drop-down-menu {
    position: fixed;
    top: 42px !important; /* Prevents drop down menu from shifting down as more issues are displayed */
    z-index: 102;
}

.grid-drop-down-menu {
    position: fixed;
    top: 245px !important; /* Prevents drop down menu from shifting down as more issues are displayed */
    z-index: 102;
}

.drop-down-menu-background {
    -webkit-border-radius: 3px;
    background-color: #f7f7f7;
    padding: 0px;
    position: relative;
    top: -4px;
}

.drop-down-menu-background .item {
    height: 28px;
    padding: 12px 10px 0px 15px;
    font-size: 13px;
    color: #00A9DF;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 5px solid #00A9DF;
  float: right;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid #00A9DF;
  
  clear: right;
  float: right;
  margin-top: 4px;
}

.drop-down-menu-background .selected {
    background-color: rgba(0,169,223, .5);
}

.drop-down-menu-background .selected:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.drop-down-menu-background .selected:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.drop-down-menu-background .item-disabled {
    color: #999999;
}

.drop-down-menu-background hr {
    height: 1px;
    background-color: #bbbbbb;
    border: none;
    margin: 0px;
    padding: 0px;
}

.drop-down-menu-background .flip-switch {
    float: right;
    position: relative;
    top: 0px;
}

.drop-down-menu-background .control-label {
    padding-top: 3px;
    float: left;
    color: #555555;
}

#flip-switch-grey-background, #flip-switch-green-border {
    height: 26px;
    width: 45px;
}

/* Horizontal switch with on/off states. */
.flip-switch {
    overflow: hidden;
    height: 28px;
    width: 47px;
}

#flip-switch-grey-background {
    border-radius: 13px;
    border: 1px solid #DFDFDF;
    position: absolute;
}

#flip-switch-green-border {
    border-radius: 13px;
    border: 1px solid #42D368;
    position: absolute;
}

#flip-switch-green-background {
    background-color: #42D368;
    position: absolute;
    top: 1px;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
    height: 26px;
}

#flip-switch-thumb {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border: 1px solid #DFDFDF;
    position: absolute;
    box-shadow: 1px 3px 3px rgba(0,0,0,.05);
    top: 1px;
    left: 1px;
}