/* The white header at the top. */
$HEADER_HEIGHT: 62px;

/* The white header at the top. */
#header {
    background-color: #E22E2D;
    width: 100%;
    height: $HEADER_HEIGHT - 5px;
    position: fixed;
    z-index: 100;
    display: table;
    padding: 0px;
    top: 0px;
    white-space: nowrap;
}

#print-subscriber-login, #subscribe, #go-to-library {
    position: absolute;
    line-height: $HEADER_HEIGHT - 5px;
    left: 17px;
    font-size: 20px;
    font-weight: 500;
    z-index: 100;
}

.text-link, .text-link-red {
    -webkit-user-select: none;
    cursor: default;
    font-size: 14px;
}

.text-link {
    /*color: #00A9DF;*/
   color: #FFFFFF;
}

.text-link:active {
    color: rgba(0,169,223, .5);
}

.text-link-red {
    color: #FF0000;
}

.text-link-red:active {
    color: rgba(255,0,0,.5);
}

.text-link.disabled, .text-link-red.disabled {
    color: #c4c4c4;
}

.text-link.disabled:active, .text-link-red.disabled:active {
    color: #c4c4c4;
}

#header-left-column-container {
    width: 100%;
    height: 46px;
    float: left;
    display: inline-block;
    position: absolute;
}

#header-right-column-container {
    width: 200px;
    float: right;
    display: inline-block;
    text-align: right;
}

#title, #spinner-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 400px;
    display: block;
    margin: auto;
    padding-top: 14px;
    color: #000000;
}

#title-image {
    display:block;
    position: relative;
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: $HEADER_HEIGHT;
    width: 100%;
}

.spinner {
    display: none;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
    
/* Original */
/* note: spinner is 80x80 */
div.show-large-spinner.spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background: transparent;
    -webkit-animation: spin 0.75s infinite steps(8);
    box-shadow: 
      0px -30px 0px #777,
      21px -21px 8px #f6f6f6,
      30px 0px 7px #f0f0f0,
      21px 21px 6px #e8e8e8,
      0px 30px 5px #e0e0e0,
      -21px 21px 4px #ccc,
      -30px 0px 3px #bbb,
      -21px -21px 2px #aaa;
}

/* Smaller spinner */
/*note: spinner is 40x40*/
div.show-small-spinner.spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    height: 8px;
    width: 8px;
    border-radius: 5px;
    background: transparent;
    -webkit-animation: spin 0.75s infinite steps(8);
    box-shadow:
      0px -15px 0px #777,
      11px -11px 4px #f6f6f6,
      15px 0px 3px #f0f0f0,
      11px 11px 3px #e8e8e8,
      0px 15px 3px #e0e0e0,
      -11px 11px 2px #ccc,
      -15px 0px 3px #bbb,
      -11px -11px 2px #aaa;
}