@import "compass";

#logout-countdown-dialog {
    width: 330px;
    margin-left: -177px;
    top: 200px;
    color: #000000;

    #counter {
      height: 0px !important;
      width: 0px !important;
      visibility: hidden;
    }
    
    #title {
      text-align: center;
      font-weight: bolder;
      padding:8px;
    }
    
    #monitor {
      text-align: center;
      font-weight: normal;
      padding: 8px;
      font-size: 2em !important;
      color: #0000ff;
    }
    
    button {
      color: #157EFB;
      height: 35px;
      font-size: 1.5em;
      border: 0;
      display: block;
      margin: 0 auto;
    }
    
    button#signout {
      width: 100%;
      border-bottom: 1px solid #DDDDDD;
    }
}
 
