@import "compass";

#tutorial {
  width: 635px !important;
  left: 50% !important;
  margin-left: -327px !important;
  margin-top: -75px !important;
  opacity: 1 !important;
  background: transparent !important;
  
  .close {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 33px;
    height: 33px;
    background-image: url(../images/x.png);
    background-repeat: no-repeat;
  }
  
  .carousel {
    overflow: hidden;
    top:0; bottom: 0; left: 0; right: 0;
    margin-bottom: 20px;
  }
  .slides{
    height: 100%;              
    -webkit-transition: all 1s;
  }
  .slide{
    height: 100%;
    float: left;
    position: relative;
  
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slideshow {
    width: 100%;
    height: 585px;
  }
  
  a {
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
}
