<div id="left_rail">
  Left Rail
  
  <!--
   CTA for video or slideshow
  -->
  {{#if settings.IS_VIDEO}}
    <div id="video">Tap for Video</div>
  {{else}}
    <div id="slideshow">Tap for Slideshow</div>
  {{/if}}
  <div class="samples">Samples</div>
</div>

<div id="right_rail">
  Right Rail
  <div class="signin">
    <div class="teacher"></div>
    <div class="student"></div>
  </div>
  <div class="cover" style="background-image: url('{{cover_img}}');"></div>
</div>
  