<div id='header'>
  <div id='header-left-column-container'>
  {{#if settings.DISPLAY_HEADER_TEXT}}
    <div id='title'>
      <span style='margin:0;padding:0;border:0;'>{{settings.IS_HEADER_TEXT}}</span>
    </div>
  {{else}}
    <div id='title-image'></div>
  {{/if}}
    </div>
  </div>
</div>



