{{#settings}}
{{#if IS_SUBHEADER_TEXT}}
  <div id='subheader'>
    <p>{{IS_SUBHEADER_TEXT}}</p>
  </div>
{{/if}}

<ul class='flex-container wrap'>
  {{#each samples}}
    <li class='flex-item'>
      <div class="flex-item-container">
        <div class='title'>Edition {{gradeLevel}}</div>
        <div class="img-container" style='background-color: #ffffff;'>
          <img class="cover-img" src="images/cover_spacer.png" />
        </div>
        <div class="cta-container">
          <div class='btns'>
            {{#each issues}}
              <button data-productid='{{productId}}' data-id='{{id}}'>{{type}} View</button>
            {{/each}}
          </div>
        </div>
        <div class='description'>{{{description}}}</div>
      </div>
    </li>
  {{/each}}
</ul>
{{/settings}}
